/* src/App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #80547d;
  background-image: url('/images/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

#root {
  min-height: 100vh; 
}
